<?xml version="1.0"?>
<config>
    <modules>
        <Wdarking_SGPweb>
            <version>0.1.0</version>
        </Wdarking_SGPweb>
    </modules>
    <global>
        <helpers>
            <sgpweb>
                <class>Wdarking_SGPweb_Helper</class>
            </sgpweb>
        </helpers>
        <blocks>
            <sgpweb>
                <class>Wdarking_SGPweb_Block</class>
            </sgpweb>
        </blocks>
        <models>
            <sgpweb>
                <class>Wdarking_SGPweb_Model</class>
                <resourceModel>sgpweb_mysql4</resourceModel>
            </sgpweb>
            <sgpweb_mysql4>
                <class>Wdarking_SGPweb_Model_Mysql4</class>
                <entities>
                    <sgpplp>
                        <table>wdarking_sgpweb_plps</table>
                    </sgpplp>
                </entities>
            </sgpweb_mysql4>
        </models>
        <resources>
            <wdarking_sgpweb_setup>
                <setup>
                    <module>Wdarking_SGPweb</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wdarking_sgpweb_setup>
            <wdarking_sgpweb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wdarking_sgpweb_write>
            <wdarking_sgpweb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wdarking_sgpweb_read>
        </resources>
        <events>
            <sales_order_shipment_save_before>
                <!-- identifier of the event we want to catch -->
                <observers>
                    <sales_order_shipment_save_before_handler>
                        <!-- identifier of the event handler -->
                        <type>model</type>
                        <!-- class method call type; valid are model, object and singleton -->
                        <class>sgpweb/observer</class>
                        <!-- observers class alias -->
                        <method>salesOrderShipmentSaveBefore</method>
                        <!-- observer's method to be called -->
                        <args></args>
                        <!-- additional arguments passed to observer -->
                    </sales_order_shipment_save_before_handler>
                </observers>
            </sales_order_shipment_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <sgpweb>
                <use>admin</use>
                <args>
                    <module>Wdarking_SGPweb</module>
                    <frontName>admin_sgpweb</frontName>
                </args>
            </sgpweb>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sgpweb module="sgpweb">
                <title>SGPweb</title>
                <sort_order>100</sort_order>
                <children>
                    <sgpplp module="sgpweb">
                        <title>Manage Sgpplp</title>
                        <sort_order>0</sort_order>
                        <action>admin_sgpweb/adminhtml_sgpplp</action>
                    </sgpplp>
                </children>
            </sgpweb>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sgpweb translate="title" module="sgpweb">
                            <title>SGPweb</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <sgpplp translate="title">
                                    <title>Manage Sgpplp</title>
                                    <sort_order>0</sort_order>
                                </sgpplp>
                            </children>
                        </sgpweb>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sgpweb>
                    <file>sgpweb.xml</file>
                </sgpweb>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <sgpweb>
                <use>standard</use>
                <args>
                    <module>Wdarking_SGPweb</module>
                    <frontName>sgpweb</frontName>
                </args>
            </sgpweb>
        </routers>
        <translate>
            <modules>
                <Wdarking_SGPweb>
                    <files>
                        <default>Wdarking_SGPweb.csv</default>
                    </files>
                </Wdarking_SGPweb>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <sgpweb_checksgpitemstatus>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>sgpweb/cron::checkSgpItemStatus</model>
                </run>
            </sgpweb_checksgpitemstatus>
        </jobs>
    </crontab>
    <!-- Default configuration -->
    <default>
        <carriers>
            <wdarking_sgpweb>
                <active>1</active>
                <model>sgpweb/carrier</model>
                <title>SGPweb</title>
                <weight_type>gr</weight_type>
                <wrapper_weight>0</wrapper_weight>
                <allowed_methods>04669,04162</allowed_methods>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </wdarking_sgpweb>
        </carriers>
    </default>
</config>
